---
import heroRef from './hero-temp.png';
import heroImg from './basketball-player.png';
---

<div class="w-full max-w-[1350px] h-auto m-auto relative">
  <!-- Start: title -->
  <div data-name="title">
    <div class="font-secondary italic uppercase font-semibold text-left leading-[0.86] tracking-[-0.8rem] text-[12.64rem]">Discover</div>
    <div class="font-primary uppercase font-semibold text-right leading-[0.7] text-[11.7rem] tracking-[-0.1rem]">talent</div>
  </div>
  <!-- End: title -->

  <!-- Start: poster -->
  <div data-name="poster" class="flex justify-center relative top-[-11rem]">
    <img src={heroImg.src} alt="" class="w-full h-auto max-w-[42rem] relative left-[-5rem]">
  </div>
  <!-- End: poster -->
</div>


