---
import heroImg from './basketball-player.png';
import CardGrid from '../CardGrid/index.astro';
import type { Props as Item } from '../CardGrid/card.astro';

interface Props {
  extended: boolean;
  items: Item[];
}

const { extended, items } = Astro.props;
---

<div class="m-auto relative main-header-poster">
  <!-- Start: title -->
  <div class="title">
    <div class="font-secondary italic uppercase font-semibold text-left leading-[0.86]">Discover</div>
    <div class="font-primary uppercase font-semibold text-right leading-[0.7]">talent</div>
  </div>
  <!-- End: title -->

  <!-- Start: poster -->
  <div data-name="poster" class="flex justify-center relative poster-position">
    <img src={heroImg.src} alt="athlete image" class="w-full h-auto relative left-auto max-w-none">
  </div>
  <!-- End: poster -->
  
  <!-- Start: grid -->
  <div class="poster-background">
    <CardGrid
      extended={false}
      items={items}
      className='xl:grid hidden'
    />

    <CardGrid
      extended={false}
      items={items.slice(5, 9)}
      className='hidden lg:grid xl:hidden'
    />
  </div>
  <!-- End: grid -->
</div>

