---
import CtaButton from "../CtaButton.astro";
import logo from "./logo-trans.png";
---
<div class="w-full max-w-[1200px] flex flex-col items-center m-auto my-20">
  <div class="max-w-[35.25rem] pb-10">
    <h2>
      <span class="font-semibold text-6xl tracking-[-0.1rem] pr-2">Become a</span>
      <span class="font-secondary text-6xl font-semibold italic tracking-[-0.14rem] pr-2">pioneer</span>
      <span class="font-semibold text-6xl tracking-[-0.1rem]">on</span>
      <span class="font-semibold text-6xl tracking-[-0.1rem]">the sport revolution</span>
    </h2>
    <p class="text-lg mt-3 text-center">Plyaz is an innovative platform that connects athletes, fans, 
      and investors in the world of sports. Join our platform now!</p>
  </div>
  <CtaButton 
    label="Join us for free";
    type="primary";
  />
  <img class="w-auto h-[35.5rem] mt-14" src={logo.src} alt="">
</div>