---
import logo from './logo.png';
import CtaButton from '../CtaButton.astro';
---
<nav class="w-full max-w-[800px] h-[80px] m-auto bg-fg-soft rounded-full my-10 drop-shadow-xl">
  <ul class="font-primary font-medium flex flex-row text-base uppercase gap-12 justify-center align items-center h-full">
    <li class="flex">
      <a class="inline-block w-[56px] h-[56px]" href="">
        <img class="w-auto" src={logo.src} alt="plyaz logo">
      </a>
    </li>
    <li>
      <a href="">Features</a>
    </li>
    <li>
      <a class="custom-style" href="">News</a>
    </li>
    <li>
      <a href="">Contact</a>
    </li>
    <li>
      <a href="">Log in</a>
    </li>
    <li>
      <CtaButton label="Join Us" type="primary" />
    </li>
  </ul>
</nav>
