---
import logo from './logo-circle.png';
import CtaButton from '../CtaButton.astro';
---
<nav class="w-full max-w-[800px] h-[80px] m-auto bg-tertiary/20 rounded-full my-10 drop-shadow-xl">
  <ul class="font-primary font-medium text-primary-foreground flex flex-row text-base uppercase mx-3 justify-between align items-center h-full">
    <li class="flex">
      <a class="inline-block w-[56px] h-[56px]" href="">
        <img class="w-auto" src={logo.src} alt="plyaz logo">
      </a>
    </li>
    <li>
      <CtaButton
        type="ghost"
        label="feature"
        pathname="/feature"
      />
    </li>
    <li>
      <CtaButton
        type="ghost"
        label="news"
        pathname="/news"
      />
    </li>
    <li>
      <CtaButton
        type="ghost"
        label="contact"
        pathname="mailto:info@plyaz.com"
      />
    </li>
    <li>
      <CtaButton
        type="ghost"
        label="log in"
        pathname="#trigger-login-popup"
      />
    </li>
    <li>
      <CtaButton label="Join Us" type="primary" />
    </li>
  </ul>
</nav>
