---
import logo from './logo-circle.png';
import { type MenuItem } from '../HeaderMenu/index.astro';

interface Props {
  menuItems: MenuItem[];
}

const { menuItems } = Astro.props;

---

<header data-name="mobile" class="rounded-4xl z-20 relative bg-tinted">
  <div class="mx-auto px-4 py-3 flex items-center justify-between transition duration-300 ease-in-out z-10 relative">
    <a class="inline-block w-10 h-10" href="/">
      <img class="w-auto" src={logo.src} alt="plyaz logo">
    </a>
    
    <!-- Hamburger Button -->
    <div id="menu-btn" class="hamburger flex flex-col justify-between w-8 h-6 m-2 cursor-pointer md:hidden">
      <span class="block border-1 bg-secondary"></span>
      <span class="block border-1 bg-secondary"></span>
      <span class="block border-1 bg-secondary"></span>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div id="menu" class="hidden md:hidden absolute left-0 top-[68px] w-full z-1">
    <span class="w-full h-20 bg-tinted inline-block absolute z-0 top-[-34px] left-0"></span>
    <div class="flex flex-col text-center gap-10 p-14 rounded-br-4xl rounded-bl-4xl bg-tinted shadow-xl relative z-1">
      {
        menuItems.map(item => (
          <a
            href={item.pathname}
            target={item.newWindow ? '_blank' : '_self'}
            class="text-primary-foreground font-primary font-medium  text-2xl uppercase">{item.label}</a>      
        ))
      }
    </div>
  </div>
</header>

<style>
  /* Optional: Animate the hamburger icon */
  .hamburger span {
    transition: all 0.4s ease-in-out;
  }
  .hamburger.open span:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const btn = document.getElementById('menu-btn');
    const menu = document.getElementById('menu');
    const menuItems = document.querySelectorAll('#menu a');

    if (!btn || !menu) {
    console.error('Menu items are missing?');

    return;
    }

    btn.addEventListener('click', () => {
      btn.classList.toggle('open');
      menu.classList.toggle('hidden');
    });

    menuItems.forEach(item => {
      item.addEventListener('click', () => {
        btn.classList.remove('open');
        menu.classList.add('hidden');
      });
    })
  })
</script>