---
import Card from './card.astro';

type Item = {
  topTitle: string;
  bottomTitle: string;
  description: string;
  ctaLabel?: string;
}

interface Props {
  extended: boolean;
  items: Item[];
}

const { extended, items } = Astro.props;
---

<div class="w-full xl:w-[75rem] md:w-[50rem] m-auto my-20 grid-container grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 place-items-center">
  {
    items.map((item, index) => (
      <div class={`relative ${index === 0 && extended ? 'md:col-span-2 col-span-1 md:w-[50rem] w-[25rem] h-[25rem]' : 'w-[25rem] h-[25rem]'}`}>
        <Card
          type={index === 0 ? 'main' : 'child'}
          topTitle={item.topTitle}
          bottomTitle={item.bottomTitle}
          description={item.description}
          extended={extended}
          ctaLabel={index === 0 ? item.ctaLabel : ''}
        />
      </div>
    ))
  }
</div>