---
export type Title = {
  firstLine: string;
  secondLine?: string;
}

export interface Props {
  title: Title;
  lastUpdated: string;
}

const { title, lastUpdated } = Astro.props;
---

<div class="w-full h-auto grid grid-cols-[400px_2fr]">
  <div class="flex flex-col p-10">
    <h2 class="pb-4">
      <span class="font-secondary font-semibold italic tracking-[-0.14rem] text-6xl capitalize">{title.firstLine}</span>
      <span class="font-semibold text-6xl tracking-[-0.1rem] pr-2 capitalize block">{title.secondLine}</span>
    </h2>
    <p class="text-base">{lastUpdated}</p>
  </div>
  <div data-name="legal-content" class="flex flex-col gap-1 p-10">
    <slot />
  </div>
</div>

<style>
  [data-name="legal-content"] {
    h2 { 
      font-size: 1.5rem; 
      font-weight: 600;

      &:not(:first-child) {
        padding-top: 1.5rem;
      }
    }

    p { font-size: large; }

    ul {
      font-size: large;
    }
  }
</style>

