---
export type Title = {
  firstLine: string;
  secondLine?: string;
}

export interface Props {
  title: Title;
  lastUpdated: string;
}

const { title, lastUpdated } = Astro.props;
---

<div class="w-full h-auto grid xl:grid-cols-[400px_2fr] grid-cols-1">
  <div class="flex flex-col p-10">
    <h2 class="pb-4">
      <span class="font-secondary font-semibold italic tracking-[-0.14rem] text-6xl capitalize">{title.firstLine}</span>
      <span class="font-semibold text-6xl tracking-[-0.1rem] pr-2 capitalize block">{title.secondLine}</span>
    </h2>
    <p class="text-base">{lastUpdated}</p>
  </div>
  <div data-name="legal-content" class="flex flex-col gap-1 p-10 xl:pb-50 pb-24">
    <slot />
  </div>
</div>

<style>
  [data-name="legal-content"] {
    * {
      word-wrap: break-word;
    }
    
    h2 { 
      font-size: 1.5rem; 
      font-weight: 600;
      

      &:not(:first-child) {
        padding-top: 1.5rem;
      }
    }

    p { 
      font-size: large; 
      color: var(--color-secondary-foreground);
    }

    ol {
      font-size: large;
    }

    ul {
      font-size: large;
      padding: 20px;
      list-style-type: disc;
    }

    li {
      padding-bottom: 1rem;
    }

    a:hover {
      color: var(--color-white);
      background-image: var(--gradient-orange);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
    }
    
    table {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
    }

    th, td {
    padding: 4px;
    margin: 20px;
    }
  }
</style>

