---
import CtaButton from "../CtaButton.astro";
import logo from "./logo-ticket.png";
import iconX from "./icon-x.svg";
import iconCut from "./icon-cut.svg";
import qrcode from "./sample-qr.jpg";
---
<div class="w-full max-w-[1200px] m-auto h-auto bg-fg-primary grid grid-cols-[8fr_4fr] divide-x-1 divide-dashed divide-neutral-200/50 my-20 relative">
  <div class="relative flex items-end p-10 pt-8">
    <div class="h-auto flex flex-col">
      <h2 class="pb-4">
        <span class="font-secondary font-semibold text-6xl italic text-white tracking-[-0.14rem]">Empowering</span>
        <span class="block font-semibold text-6xl text-white tracking-[-0.1rem]">All participants in sports</span>
      </h2>
      <p class="text-lg text-neutral-200/80 pb-12 font-light">Join an innovative platform that connects athletes, fans, scouts, agents, and clubs in a unique digital ecosystem. Experience the future of sports networking and unlock new opportunities!</p>
      <CtaButton
        label="JOIN THE COMMUNITY"
        type="secondary"
        className="self-start"
      />
    </div>
    <div class="inline-block absolute bottom-[20px] right-[-13px] ">
      <img class="" src={iconCut.src} alt="icon scissors">
    </div>
  </div>
  <div class="relative flex items-end p-10 pt-8 justify-center">
    <div class="text-center">
      <img class="mb-9 h-10" src={logo.src} alt="Plyaz">
      <div class="flex-col text-center">
        <p class="text-xs font-medium text-white uppercase mb-[-6px]">NEW ERA OF SPORTS</p>
        <img class="inline w-3 h-3" src={iconX.src} alt="icon x">
        <p class="text-xs font-medium text-white uppercase mt-[-2px]">Empowering athletes</p>
      </div>
      <img class="inline h-[10rem] mt-8" src={qrcode.src} alt="QR code">
    </div>
  </div>
</div>
