@import "./fonts.css";

/*
  https://tailwindcss.com/blog/tailwindcss-v4#css-first-configuration
  https://tailwindcss.com/docs/theme
  https://docs.astro.build/en/guides/fonts/#register-fonts-in-tailwind
*/
@import "tailwindcss";

:root {
  --color-white: #FFF; 
  --color-neutral-800: oklch(0.269 0 0);
  --color-neutral-600: oklch(0.439 0 0);
  --color-neutral-500: oklch(0.5555 0 0);
  --color-neutral-400: oklch(0.7155 0 0);
  --color-neutral-300: oklch(0.8699 0 0);
  --color-neutral-100: oklch(0.9702 0 0);
  --gradient-orange: linear-gradient(109deg, #FFA132 4.99%, #FF4D00 92.05%);
}

@theme {
  /* Font */
  --font-primary: "GeneralSans-Variable", "sans-serif";
  --font-secondary: "Playfair Display", serif;
  /* Background */
  --color-background: var(--color-white);
  --color-primary: var(--color-neutral-100);
  --color-secondary: var(--color-neutral-800);
  --color-tertiary: var(--color-neutral-400);
  --color-interactive: var(var(--gradient-orange));
  /* Text */
  --color-foreground: var(--color-white);
  --color-primary-foreground: var(--color-neutral-800);
  --color-secondary-foreground: var(--color-neutral-600);
  /*--color-tertiary-foreground: var(--color-neutral-500);*/
  --color-accent-foreground:var(--color-neutral-400);
  /* Border */
  --color-border-subtle: var(--color-neutral-300);
}

/*
  https://tailwindcss.com/docs/adding-custom-styles#adding-custom-utilities
*/
@utility cta-hover {
  @apply overflow-hidden relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--gradient-orange);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
  }
  
  &:hover::before {
    opacity: 1;
  }

  .label {
    z-index: 10;
    position: relative;
  }
}

/* Poster - start */
@utility main-header-poster {
  width: calc(100vw * .805);
  max-width: 1350px;
  height: min(calc(100vw * 1), 102rem);

  .title {
    font-size: clamp(1rem, calc(100vw * 0.101), 10.5rem);
    letter-spacing: -0.016ch;
  }
}

@utility poster-position {
  top: max(calc((100vw * .125) * -1), -12rem);
  width: clamp(0px, calc(100vw * .5), 43rem);
  left: calc(50% - min(calc(100vw * .04), 5rem));
  transform: translateX(-50%);
}

@utility poster-background {
  position: absolute;
  top: min(calc(100vw * .22), 23rem);
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
} 
/* Poster - End */

/* Card grid - start */
@utility vertical-psuedo-border {
  &::before, &::after {
    content: " ";
    background: var(--color-border-subtle);
    width: 1px;
    height: 100%;
    display: inline-block;
    top: 0;
    position: absolute;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

@utility horizontal-psuedo-border {
  &::before, &::after {
    content: " ";
    background: var(--color-border-subtle);
    width: 100%;
    height: 1px;
    display: inline-block;
    position: absolute;
    left: 0;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

@utility dot {
  height: .6rem;
  width: .6rem;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--color-border-subtle);
}
/* Card grid - End */

@utility gradient-block {
  &::before {
    content: ' ';
    display: block;
    width: 100%;
    height: 13rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.50) 45.64%, #FFF 100%);;
  }

  &::after {
    content: ' ';
    display: block;
    width: 100%;
    height: 13rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.50) 45.64%, #FFF 100%);;
  }
}

@utility link-foreground {
  color: var(--color-white);
  background-image: var(--gradient-orange);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}