@import "./fonts.css";

/*
  https://tailwindcss.com/blog/tailwindcss-v4#css-first-configuration
  https://tailwindcss.com/docs/theme
  https://docs.astro.build/en/guides/fonts/#register-fonts-in-tailwind
*/
@import "tailwindcss";

:root {
  --color-black: oklch(0.269 0 0);
  --color-gray-dark: oklch(0.439 0 0);
  --color-gray-soft: oklch(0.862 0 0 / 0.29);
  --color-gray-subtle: oklch(0.8699 0 0);
  --gradient-orange: linear-gradient(109deg, #FFA132 4.99%, #FF4D00 92.05%);
}

@theme {
  --font-primary: "GeneralSans-Variable", "sans-serif";
  --font-secondary: "Playfair Display", serif;

  --color-fg-primary: var(--color-black);
  --color-fg-secondary: var(--color-gray-dark);
  --color-fg-soft: var(--color-gray-soft);
  --color-bg-line: var(--color-gray-subtle);
}

/*
  https://tailwindcss.com/docs/adding-custom-styles#adding-custom-utilities
*/
@utility cta {
  @apply overflow-hidden relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--gradient-orange);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
  }
  
  &:hover::before {
    opacity: 1;
  }

  .label {
    z-index: 10;
    position: relative;
  }
}

@utility main-header-poster {
  width: calc(100vw * .805);
  max-width: 1350px;
  height: min(calc(100vw * 1), 102rem);

  .title {
    &:nth-child(1) {
      font-size: clamp(1rem, calc(100vw * 0.12), 12.6rem);
      letter-spacing: -0.1ch;
    }

    &:nth-child(2) {
      font-size: clamp(1rem, calc(100vw * 0.112), 11.5rem);
      letter-spacing: -0.016ch;
    }
  }
}

@utility poster-position {
  top: max(calc((100vw * .125) * -1), -12rem);
  width: clamp(0px, calc(100vw * .5), 43rem);
  left: calc(50% - min(calc(100vw * .04), 5rem));
  transform: translateX(-50%);
}

@utility poster-background {
  position: absolute;
  top: min(calc(100vw * .22), 23rem);
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
} 

@utility poster-logo {
  position: absolute;
  top:min(calc(100vw * .43),78rem);
  left: 80%;
  transform: translateX(-50%);
}

@utility vertical-psuedo-border {
  &::before, &::after {
    content: " ";
    background: var(--color-bg-line);
    width: 1px;
    height: 100%;
    display: inline-block;
    top: 0;
    position: absolute;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

@utility horizontal-psuedo-border {
  &::before, &::after {
    content: " ";
    background: var(--color-bg-line);
    width: 100%;
    height: 1px;
    display: inline-block;
    position: absolute;
    left: 0;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

@utility dot {
  height: .6rem;
  width: .6rem;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--color-bg-line);
}