---
import Card from "./card.astro";
import CtaButton from "../CtaButton.astro";
---
<div class="w-full xl:w-[75rem] md:w-[50rem] m-auto my-20 grid-container grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1">
  <div class="relative w-[50rem] h-[25rem]">
    <Card type="main" topTitle='Revolutionary' bottomTitle='Features' bodyContent="Experience the future of sports investment through our cutting-edge platform."/>
    <CtaButton label="Read the Doc"
    type="primary"
    className="self-start"
    />
</div>