---
import HeaderMenu from "../components/HeaderMenu/index.astro";
import MainLayout from "../layouts/MainLayout.astro";

const pageTitle = "Home";
---

<MainLayout pageTitle={pageTitle}>
	<HeaderMenu />
	<h1>Hello, World!</h1>
</MainLayout>

