---
import MainLayout from "../../layouts/MainLayout.astro"

const post = {
  title: "Tokenizing Declan Rice’s free-kick masterclass",
  author: "Lucas Lee",
  poster: './foobar.png',
  tags: ['news', 'football']
}
---

<MainLayout>
  <h1>{post.title}</h1>
</MainLayout>