---
// Type declarations
export type CtaButtonTypes = "primary" | "secondary" | "ghost";

interface Props {
  label: string;
  type: CtaButtonTypes;
  className?: string;
  pathname: string;
  newWindow?: boolean;
}

type TypeProp = Props['type'];

// Props
const { label, type, className, pathname, newWindow } = Astro.props;

// Styles
const ghostStyle = "cursor-pointer inline-block py-4 px-6 text-base font-medium uppercase rounded-full bg-transparent hover:bg-background hover:text-primary-foreground transition duration-300 ease-in-out";
const defaultStyle = `cta-hover cursor-pointer inline-block rounded-full py-4 px-6 text-base font-medium uppercase`;
const primaryStyle = "bg-secondary text-foreground";
const secondaryStyle = "bg-background text-primary-foreground";
const isGhost = type === 'ghost';

function getTypeExtendedStyle(type: TypeProp) {
  if (type === 'primary') {
    return primaryStyle;
  } else if (type === 'secondary') {
    return secondaryStyle;    
  } else {
    return ghostStyle; 
  }
};
---

<a
  href={pathname}
  class={`${isGhost ? ghostStyle : defaultStyle} ${getTypeExtendedStyle(type)} ${className}`}
  target={newWindow ? '_blank' : ''}
>
  <span class="label">
    {label}
  </span>
</a>