---
// Type declarations
interface Props {
  label: string;
  type: "primary" | "secondary";
  className?: string;
}

// Props
const { label, type, className } = Astro.props;

// Styles
const defaultStyle = "cta cursor-pointer inline-block rounded-full py-4 px-6 text-base font-medium uppercase";
const primaryStyle = "bg-fg-primary text-white";
const secondaryStyle = "bg-white text-fg-primary";
const isPrimary = type === 'primary';
---

<button
  class={`${defaultStyle} ${isPrimary ? primaryStyle : secondaryStyle} ${className}`}
>
  <span class="label">
    {label}
  </span>
</button>