---
interface Props {
  value: string;
}

const { value } = Astro.props;
---

<div class="text-xs text-secondary-foreground rounded-full border-accent-foreground border px-3 py-2 uppercase">{value}</div>