---
import arden from "./arden-logo.png";
import gs from "./gs-loggo.png";
import rise from "./rise-logo.png";
---
<div class="my-20">
  <h2 class="text-center pb-20">
    <span class="font-semibold text-6xl pr-1">Our</span>
    <span class="font-secondary font-semibold italic text-6xl">Partners</span>
  </h2>
  <div class="flex">
    <div>
      <img class="h-20" src={rise.src} alt="Rise company logo">
    </div>
    <div>
      <img class="h-18 justify-self-center" src={arden.src} alt="ARDEN university logo">
    </div>
    <div>
      <img class="h-20" src={gs.src} alt="GRANT SPORTS company logo">
    </div>
  </div>

</div>