---
import arden from "./arden-logo.png";
import gs from "./gs-loggo.png";
import rise from "./rise-logo.png";
---

<div class="max-w-[1200px] m-auto my-20 grid justify-center">
  <h2 class="text-center pb-10">
    <span class="font-semibold text-6xl tracking-[-0.1rem] pr-2">Our</span>
    <span class="font-secondary font-semibold italic tracking-[-0.14rem] text-6xl">Partners</span>
  </h2>
  <ul class="grid grid-cols-[1fr_1fr_1fr] gap-[10rem]">
    <li class="justify-items-center">
      <img class="h-18" src={rise.src} alt="Rise company logo">
    </li>
    <li class="justify-items-center">
      <img class="h-18" src={arden.src} alt="ARDEN university logo">
    </li>
    <li class="justify-items-center">
      <img class="h-18" src={gs.src} alt="GRANT SPORTS company logo">
    </li>
  </ul>
</div>