---
import logoPng from "./logo.png";
---
<footer class="w-full h-auto m-auto inline-block bg-fg-primary pt-24 pb-24">
  <div class="w-[calc(100%-4rem)] m-auto">
    <div>
      <p class="font-medium text-neutral-400 mb-6">The future of sports. Turn your game into gain.</p>
      <img src={logoPng.src} alt="Plyaz logo">
    </div>
    <div class="flex justify-between mt-16">
      <ul class="flex flex-col gap-2">
        <li class="text-neutral-400 uppercase">Product</li>
        <li class="text-white uppercase"><a href="">Features</a></li>
        <li class="text-white uppercase"><a href="">Log in</a></li>
        <li class="text-white uppercase"><a href="">Join us</a></li>
      </ul>
      <ul class="flex flex-col gap-2 justify-items-center">
        <li class="text-neutral-400 uppercase">Company</li>
        <li class="text-white uppercase"><a href="">News</a></li>
        <li class="text-white uppercase"><a href="mailto:help@plyaz.co.uk">Contact us</a></li>
      </ul>
      <ul class="flex flex-col gap-2 pr-10">
        <li class="text-neutral-400 uppercase">Social</li>
        <li class="text-white uppercase"><a href="https://x.com/Plyaz_">X</a></li>
        <li class="text-white uppercase"><a href="https://www.linkedin.com/company/plyaz">LinkedIn</a></li>
        <li class="text-white uppercase"><a href="https://www.instagram.com/plyaz_/">Instagram</a></li>
      </ul>
    </div>
    <div class="mt-16">
      <div class="flex flex-row justify-between">
        <ul class="flex flex-row gap-10">
          <li class="text-sm text-neutral-400 font-medium"><a href="">Cookie policy</a></li>
          <li class="text-sm text-neutral-400 font-medium"><a href="">Terms of service</a></li>
        </ul>
          <p class="text-sm text-neutral-400 font-medium">© 2025 Plyaz. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>