---
import logoPng from "./logo.png";
---
<footer class="w-full h-auto m-auto inline-block bg-secondary mt-10 pt-10 pb-10 md:mt-20 md:pt-24 md:pb-24">
  <div class="w-[calc(100%-4rem)] m-auto">
    <div>
      <p class="font-medium text-accent-foreground mb-6">The future of sports. Turn your game into gain.</p>
      <img src={logoPng.src} alt="Plyaz logo">
    </div>
    <div class="flex flex-row justify-between mt-16">
      <ul class="flex flex-col gap-2">
        <li class="text-accent-foreground uppercase">Platform</li>
        <li class="text-white hover:link-foreground uppercase"><a id="/#how-it-works" href="">Solution</a></li>
        <!-- <li class="text-white hover:link-foreground uppercase"><a href="">Log in</a></li> -->
        <li class="text-white hover:link-foreground uppercase"><a href="https://community.plyaz.co.uk/" target="_blank">Join us</a></li>
      </ul>
      <ul class="flex flex-col gap-2 justify-items-center">
        <li class="text-accent-foreground uppercase">Company</li>
        <li class="text-white hover:link-foreground uppercase"><a href="/news">News</a></li>
        <li class="text-white hover:link-foreground uppercase"><a href="mailto:help@plyaz.co.uk">Contact</a></li>
      </ul>
      <ul class="flex flex-col gap-2 xl:pr-10">
        <li class="text-accent-foreground uppercase">Social</li>
        <li class="text-white hover:link-foreground uppercase"><a href="https://x.com/Plyaz_" target="_blank">X</a></li>
        <li class="text-white hover:link-foreground uppercase"><a href="https://www.linkedin.com/company/plyaz" target="_blank">LinkedIn</a></li>
        <li class="text-white hover:link-foreground uppercase"><a href="https://www.instagram.com/plyaz_/" target="_blank">Instagram</a></li>
      </ul>
    </div>
    <div class="mt-16">
      <div class="flex flex-col items-center md:flex-row md:justify-between">
        <ul class="flex flex-row gap-10">
          <li class="text-sm text-accent-foreground hover:text-foreground font-medium"><a href="/legal/cookie-policy" target="_blank">Cookie policy</a></li>
          <li class="text-sm text-accent-foreground hover:text-foreground font-medium"><a href="/legal/terms-of-service" target="_blank">Terms of service</a></li>
        </ul>
          <p class="text-sm text-accent-foreground font-medium">© 2025 Plyaz. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>