---
import Card from './card.astro';
---
<div class="w-full xl:w-[75rem] md:w-[50rem] m-auto my-20 grid-container grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1">
  <div class="relative w-[25rem] h-[25rem]">
    <Card type="main" topTitle='company' bottomTitle='mission' />
  </div>
  <div class="relative w-[25rem] h-[25rem] ">
    <Card type="child" topTitle='Breaking down the walls between athletes and fans. Forever.' bottomTitle='01' />
  </div>
  <div class="relative w-[25rem] h-[25rem]">
    <Card type="child" topTitle='Where passion meets opportunity, and dedication gets rewarded.' bottomTitle='02' />
  </div>
  <div class="relative w-[25rem] h-[25rem] ">
    <Card type="child" topTitle='No more watching from the sidelines; become part of their journey.' bottomTitle='03' />
  </div>
  <div class="relative w-[25rem] h-[25rem] ">
    <Card type="child" topTitle='Your support becomes their success, and their success becomes yours.' bottomTitle='04' />
  </div>
  <div class="relative w-[25rem] h-[25rem] ">
    <Card type="empty" topTitle='' bottomTitle='' />
  </div>
</div>