---
import "../styles/global.css";
import HeaderMenu from "../components/HeaderMenu/index.astro";
import Footer from "../components/Footer/index.astro";

const { pageTitle } = Astro.props;

const siteTitle = pageTitle ? `Plyaz | ${pageTitle}` : 'Plyaz';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- Basic favicon -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- Fallbacks -->
		<link rel="icon" href="/favicon-32x32.png" type="image/png" sizes="32x32" />
		<link rel="icon" href="/favicon-16x16.png" type="image/png" sizes="16x16" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{siteTitle}</title>
		<script async defer src='https://app.visitortracking.com/assets/js/tracer.js'></script>
		<script>
			function init_tracer() {
				var tracer = new Tracer({
				websiteId : "undefined",
				async : true,
				debug : false });
			}
 		</script>
	</head>
	<body class="text-primary-foreground font-primary">
		<div data-name="wrapper" class="w-full max-w-[1350px] m-auto flex flex-col pr-5 pl-5 md:pr-10 md:pl-10 lg:p-0">
			<HeaderMenu />
			<slot />
		</div>
		<Footer />
	</body>
</html>