---
import "../styles/global.css";
import HeaderMenu from "../components/HeaderMenu/index.astro";
import Footer from "../components/Footer/index.astro";

const { pageTitle } = Astro.props;

const siteTitle = pageTitle ? `Plyaz | ${pageTitle}` : 'Plyaz';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{siteTitle}</title>
	</head>
	<body class="text-fg-primary font-primary">
		<div data-name="wrapper" class="w-full max-w-[1350px] m-auto">
			<HeaderMenu />
			<slot />
		</div>
		<Footer />
	</body>
</html>