---
interface Props {
  description: string;
  subHeader?: string;
}

import iconQuote from "./quote-icon.png";

const { description, subHeader } = Astro.props;
---
<div class="w-full h-auto m-auto text-center gradient-block">
  <div class="text-left px-10 pb-5">
    <img class="inline w-20 h-auto" src={iconQuote.src} alt="quotation icon">
  </div>
  <div>
    <p class="text-2xl xl:text-4xl font-primary text-secondary-foreground/70 font-medium text-center px-16">{description}</p>
    <p class="text-lg font-primary text-accent-foreground font-medium text-center pt-5">{subHeader}</p>
  </div>
  <div class="text-right px-10 pt-5">
    <img class="inline w-20 h-auto" src={iconQuote.src} alt="quotation icon">
  </div>
</div>