---
interface Props {
  description: string;
}

import iconQuote from "./quote-icon.png";

const { description } = Astro.props;
---
<div class="w-full h-auto m-auto text-center gradient-block">
  <div class="text-left px-10 pb-5">
    <img class="inline w-20 h-auto" src={iconQuote.src} alt="">
  </div>
  <div>
    <p class="text-2xl xl:text-4xl font-primary text-fg-secondary font-medium text-center px-16">{description}</p>
  </div>
  <div class="text-right px-10 pt-5">
    <img class="inline w-20 h-auto" src={iconQuote.src} alt="">
  </div>
</div>